footer{
    width: 100%;
    height: 100px;
    background-color: aliceblue;
    color: black;
    text-align: center;
    margin-top:10%;
}
footer p{
    padding-top:2.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}