.suporte-main{
    width: 60%;
    margin: auto;
}
h2{
    font-size: 30px;
    text-align: center;
    margin-bottom:5%;
}
table{
    width: 100%;
    border-collapse:collapse ;
    text-align: left;
    margin-bottom:5%;
}
td{
   padding: 1.5em; 
   background-color: rgb(201, 201, 201);
   color: black;
   font-size: 17px;
}
tbody tr{
    border: solid 1px rgb(228, 228, 228);
}
thead tr{
    border: solid 1px rgb(228, 228, 228);
}
thead th{
    background-color: rgb(82, 82, 82);
    padding: 1.5em; 
    border-bottom: 2px solid white;
    font-size: 19px;
}
button{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: rgb(233, 233, 233);
    background-color: rgb(75, 75, 75);
    transition: all .2s linear;
}
button:hover{
    background-color: rgb(134, 134, 134);
}

